.style {
    background: orange;
    color: black;
    margin: 4px;
    padding: 10px;
    border-radius: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15pt;
}

.cuadrado {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #000;
}
/* body{
    background-color: cornflowerblue;
    color: white;
}
table head{
    color: white;
} */